@model MyLibrary.ViewModels.LibraryCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Library</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Library.LibraryId" />
            <div class="form-group">
                <label asp-for="Library.Name" class="control-label"></label>
                <input asp-for="Library.Name" class="form-control" />
                <span asp-validation-for="Library.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.Address" class="control-label"></label>
                <input asp-for="Library.Address" class="form-control" />
                <span asp-validation-for="Library.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.OpenHour" class="control-label"></label>
                <input asp-for="Library.OpenHour" class="form-control" />
                <span asp-validation-for="Library.OpenHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.CloseHour" class="control-label"></label>
                <input asp-for="Library.CloseHour" class="form-control" />
                <span asp-validation-for="Library.CloseHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
